.achievement {
    margin: 5px;
    margin-left: 10px;
    width: 230px;
    border-style: groove;
    border-color: yellowgreen;
    border-radius: 5px;
    position: relative;
    float: left;
    /* display: flexbox; */
}

.name {
    text-decoration: underline;
    font-weight: 800;
    font-size: x-large;
    margin: 5px 10px 2px 3px;
    align-self: center;
}

.rolerequirement {
    padding-left: 5px;
    margin: 0px;
    font-size: medium;
}

.details {
    padding-left: 5px;
    margin: 0px;
}

.Any {
    background-color: pink;
}