.role {
    background-color: pink;
    margin: 10px;
    width: 300px;
    border-radius: 6px;
    border-style: groove;
}

.special-body {
    padding-left: 5px;
}
.special {
    margin-bottom: 3px;
}
.abilities {
    margin-bottom: 4px;
}
.information {
    margin-bottom: 4px;
}



.rolename {
    font-size: x-large;
    align-self: center;
    padding-left: 20px;
    padding-bottom: 4px;
    margin: 0px;
    font-weight: 900;
}

.Town {
    background-color: lightgreen;
}

.Coven {
    background-color: lightgray;
}

.Neutral {
    background-color: beige;
}


p {
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
}