/* :root {
	font-family: "Montserrat", sans-serif;
} */
.habibi-regular {
	font-family: "Habibi", serif;
	font-weight: 400;
	font-style: normal;
}
.londrina-sketch-regular {
	font-family: "Londrina Sketch", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.damion-regular {
	font-family: "Damion", cursive;
	font-weight: 400;
	font-style: normal;
}
.ntr-regular {
	font-family: "NTR", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.text-body {
	margin: 0px 20px;
	background-color: pink;
	padding-bottom: 5px;

	p {
		background-color: lightpink;
		margin-left: 30px;
		margin-top: 10px;
	}
}
.title {
	font-weight: 900;
	margin-left: 5px;
	color: navy;
}
.subtitle {
	font-weight: 700;
	margin-left: 10px;
	margin-bottom: 5px;
}
.underline {
	text-decoration: underline;
}
.bold {
	font-weight: 700;
}
.g-highlight {
	background-color: lightgray;
	border-style: ridge;
	border-width: 1px;
	border-color: lightslategray;
}

html {
	margin-top: 30px;
	min-height: 100dvh;
	background-image: linear-gradient(blueviolet, black);
}

#role-header {
	color: whitesmoke;
	margin-left: 20px;
	margin-bottom: 0px;
}

#achievement-header {
	color: antiquewhite;
	margin-left: 20px;
	margin-bottom: 0px;
}

blockquote {
	margin-left: 0;
	position: relative;

	&::before {
		content: "";
		width: 0.25rem;
		height: 100%;
		background-color: #aa336a;
		position: absolute;
		left: 0;
		border-radius: 0.25rem;
	}
}

.text-body blockquote p {
	margin-left: 1rem;
}
